
@font-face {
    font-family: us;
    src: url(./Fonarto.ttf);
}


body{
    user-select: none;
    -webkit-user-drag: none;
    transition: 0.5s ease all;
}

#auk{
    width: 3.5%;
    position: absolute;
    left: 50px;
}



.name{
    color: white;
    position: absolute;
    left: 140px;
    top: 5px;
    font-family: us;
    font-weight: lighter;
    font-size: 30px;
}

.container{
    width: 100%;
    min-height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
}
.hover{
    left: 25%;
    top: 70px;
    width: 17%;
    animation: floating 3s ease-in-out infinite;
    position: absolute;
}
.textbox{
    position: absolute;
    left: 50%;
    top: 70px;
    font-family: us;
}
.textbox h1{
    font-weight: bold;
    font-size: 80px;
}
.textbox button{
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    transform: translateY(-30px);
    font-family: us;
    transition: 0.3s ease all;
    color: grey;
    font-size: 15px;
    cursor: pointer;
    margin-right: 15px;
    background-color: rgb(39, 39, 39);
}

.textbox button:hover{
    color: rgb(234, 190, 255);

}

.textbox h3{
    transform: translateY(-50px);
    color: rgb(128, 128, 128);
    font-weight: lighter;
    top: -100px;
}

@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 20px); }
    100%   { transform: translate(0, -0px); }   
}


.colorbox{
    background: linear-gradient(to bottom, rgb(105, 31, 189), rgb(41, 4, 109));
    right: 0;
    left: 0;
    top: 100px;
    padding-bottom: 600px;
    display: flex;
    position: absolute;
}
.navbar{
    width: 100%;
    display: flex;
    align-items: center;
}


body{
    scroll-behavior: smooth;
    -webkit-user-drag: none;
    user-select: none;
    transition: 0.3s ease all;
    background-color: rgb(46, 46, 46);
}

nav{
    flex: 1;
    text-align: right;
}
nav ul{
    margin-right: -100px;
}
nav ul li{
    list-style: none;
    display: inline-block;
    padding: 0;
    -webkit-user-drag: none;

}
nav ul li{
    -webkit-user-drag: none;
    font-family: us;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 10px 15px;
    font-size: 16px;
    transform: translateY(15px);
    border-radius: 10px;
    transition: 0.3s ease all;
}
nav ul li:hover{
    color: rgb(234, 190, 255);
    background-color: rgba(0, 0, 0, 0.418);

}
.info{
    color: white;
    top: 750px;
    max-width: 50%;
    margin-left: 20%;
    position: absolute;
}

body::-webkit-scrollbar{
    background: black;
}

body::-webkit-scrollbar-thumb{
    background-color: rgba(161, 130, 190, 0.959);
}

img{
    position: absolute;
    -webkit-user-drag: none;
}



.linkbutton:hover{
    background-color:  rgb(108, 82, 223);;
}

.linkbutton{
    margin: auto;
    padding: 8px;
    background-color: rgba(75, 52, 179, 0.733);
    font-family: us;
    font-size: 15px;
    text-align: center;
    border-radius: 10px;
    color: white;
    transition: 0.3s ease all;
}


.colorbox2{
    background-image: url(./bg.jpg);
    right: 0;
    left: 0;
    position: absolute;
    top: 1700px;
    z-index: -1;
    padding-bottom: 600px;
    display: flex;
    position: absolute;
}
.linkcontainer1{
    margin: 20px;
    margin-left: 500px;
    margin-top: 100px;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    position: absolute;
    white-space: normal;
    background-color: #272928;
    transition: transform 0.5s ease;
}

.linkcontainer1 h1{
    font-family: us;
    margin-top: 0;
    color: white;
    font-size: 20px;
}

.linkcontainer1 p{
    font-size: 13px;
    color: darkgrey;
}



a{
    text-decoration: none;
}



.linkcontainer1:hover{
    transform: scale(1.05);
}




.linkcontainer2{
    margin: 20px;
    margin-left: 1000px;
    margin-top: 100px;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    position: absolute;
    white-space: normal;
    background-color: #272928;
    transition: transform 0.5s ease;
}

.linkcontainer2 h1{
    font-family: us;
    margin-top: 0;
    color: white;
    font-size: 20px;
}

.linkcontainer2 p{
    font-size: 13px;
    color: darkgrey;
}

.linkcontainer2:hover{
    transform: scale(1.05);
}





.linkcontainer3{
    margin: 20px;
    margin-left: 500px;
    margin-top: 350px;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    position: absolute;
    white-space: normal;
    background-color: #272928;
    transition: transform 0.5s ease;
}

.linkcontainer3 h1{
    font-family: us;
    margin-top: 0;
    color: white;
    font-size: 20px;
}

.linkcontainer3 p{
    font-size: 13px;
    color: darkgrey;
}

.linkcontainer3:hover{
    transform: scale(1.05);
}







.linkcontainer4{
    margin: 20px;
    margin-left: 1000px;
    margin-top: 350px;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    position: absolute;
    white-space: normal;
    background-color: #272928;
    transition: transform 0.5s ease;
}

.linkcontainer4 h1{
    font-family: us;
    margin-top: 0;
    color: white;
    font-size: 20px;
}

.linkcontainer4 p{
    font-size: 13px;
    color: darkgrey;
}

.linkcontainer4:hover{
    transform: scale(1.05);
}



@media only screen and (max-width: 1714px) {
    .link{
        margin-left: -100px;
    }
    
}

@media only screen and (max-width: 1520px) {
    .link{
        margin-left: -150px;
    }
    
}

@media only screen and (max-width: 1480px) {
    .link{
        margin-left: -200px;
    }
    
}

@media only screen and (max-width: 1418px) {
    .link{
        margin-left: -250px;
    }
    
}
@media only screen and (max-width: 1342px) {
    .link{
        margin-left: -275px;
    }
    
}

@media only screen and (max-width: 1310px) {
    .link{
        margin-left: -300px;
    }
    
}

@media only screen and (max-width: 1271px) {
    .link{
        margin-left: -350px;
    }
    
}
@media only screen and (max-width: 1250px) {
    .link{
        margin-left: -375px;
    }
    
}
@media only screen and (max-width: 1220px) {
    .link{
        margin-left: -385px;
    }
    
}
@media only screen and (max-width: 1160px) {
    .link{
        margin-left: -400px;
    }
    
}

@media only screen and (max-width: 1120px) {
    .link{
        margin-left: -450px;
    }
    
}

@media only screen and (max-width: 1050px) {
    .info{
        font-size: 75%;
    }
    .linkcontainer1{
        margin-left: 750px;
    }
    .linkcontainer2{
        margin-top: 300px;
        margin-left: 750px;
    }
    .linkcontainer3{
        margin-top: 500px;
        margin-left: 750px;
    }
    .linkcontainer4{
        margin-top: 700px;
        margin-left: 750px;
    }
    
}






